html
    head
        link(rel='stylesheet', href='/assets/index.css')
        script(src='/assets/jquery.min.js')
        script(src='/assets/load.js')
        script(src='/assets/jszip.js')
        script(src='/assets/xlsx.js')
        
    body
            include /index.html
