body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 50%;
}
.hiddenDiv{
    display:none!important;
}
td{
    text-align: center;
}

img{
    width:100%;
}



.plate_container{
    position:fixed;
    top:0px;
    right:0px;
    width:50%;
}

.plate_view{
    position:relative;
}
* {box-sizing: border-box;}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 110px;
  height: 50px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 100%;
  height: 300px;
}

.reportTable {
    border-collapse: collapse;
    display:none;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 20px 2px 20px;
}